  <div class="well" id="<%= dom_id(comment) %>">

  <hr>
    <h4><%= comment.body %></h4>
    <% if user_signed_in? %>
    <% if comment.user_id == current_user.id %>
    <%= link_to "Edit", edit_idea_comment_path(comment.idea, comment) %>
    <%= link_to "Delete", idea_comment_path(comment.idea, comment), method: :delete,
                                                                    remote: true %>
    <% end %>
    <% end %>
  </div>
